* {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
}

.wrapper {
    text-align: left;
    display: block;
    width: 77%;
    padding: 0 0 1.5% 7%;
    margin: 0 195px 0 110px;
    font-size: 15px;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    background-color: #ffffff;
}
/*HEADER*/
header {
    background-color: #ffffff;
    padding-top: 50px;
    margin-bottom: 40px;
}

.logo {
    background-color: #ffffff;
    font-size: 38px;
    margin-bottom: 40px;
}

ul {
    font-size:0;
    line-height:0;
    letter-spacing:-1px;
}
li {
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
    display: -moz-inline-stack!important;
    display: inline-block;
    zoom: 1;
}

a {
    background-color: transparent;
}

.menu a {
color: white;
text-decoration: none;
}

.menu {
    margin: 0 auto;
    margin-right: 5%;
    width: 95%;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    background: rgba(94,94,94,1);
    background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(94,94,94,1) 50%, rgba(67,66,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,94,94,1)), color-stop(50%, rgba(94,94,94,1)), color-stop(100%, rgba(67,66,66,1)));
    background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(94,94,94,1) 50%, rgba(67,66,66,1) 100%);
    background: -o-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(94,94,94,1) 50%, rgba(67,66,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(94,94,94,1) 50%, rgba(67,66,66,1) 100%);
    background: linear-gradient(to bottom, rgba(94,94,94,1) 0%, rgba(94,94,94,1) 50%, rgba(67,66,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#434242', GradientType=0 );
}

.menu li {
    background: inherit;
}

.menu li:hover {
    cursor: pointer;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: rgba(74,74,74,1);
    background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(46,46,46,1)));
    background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
    background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
    background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
    background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2e2e2e', GradientType=0 );
}

.main {
    padding: 14px 62px 14px 24px;
    border: 1px solid transparent;
}

.main:hover {

}

.products {
    padding: 14px 22px 14px 22px;
    border: 1px solid transparent;
}

.info {
    padding: 14px 22px 14px 22px;
    border: 1px solid transparent;
}

.contacts {
    padding: 14px 44px 14px 44px;
    border: 1px solid transparent;
}

/*CONTAINER*/
.container{
    background-color: #ffffff;
    float: left;
}

.left-menu {
    width: 24%;
    display: block;
    float: left;
    margin-right: 5.5%;
}

.left-menu a {
    color: black;
    text-decoration: none;
}

.left-menu li {
    display: block;
    background-color: #ffffff;
    padding: 14px 0 14px 24px;
    border-bottom: 1px solid #c8c8c8;
}

.left-menu {
    border: 1px solid #c8c8c8;
}

.left-menu li:last-child {
    border-bottom: 0;
}

.left-menu li:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    padding-left: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.photo {
    display: block;
    width: 65%;
    border: 1px solid #c8c8c8;
}

.text {
    float: bottom;
    float: right;
    display: block;
    width: 60%;
    margin: 40px 7.5% 5% 0;
    background-color: #ffffff;
}

footer {
    display: block;
    background-color: #ffffff;
}

.footer {
    width: 95%;
    margin: 0 auto;
    margin-right: 5%;
    color: black;
    background-color: #e1e1e1;
}

.footer li {
    background-color: inherit;
    display: inline-block;
}


.footer-main {
    padding: 14px 62px 14px 24px;
    border: 1px solid transparent;
}

.footer-products {
    padding: 14px 22px 14px 22px;
    border: 1px solid transparent;
    text-decoration: underline;
}

.footer-info {
    padding: 14px 22px 14px 22px;
    border: 1px solid transparent;
}

.footer-contacts {
    padding: 14px 44px 14px 44px;
    border: 1px solid transparent;
}

.footer-rights {
    padding: 14px 25px 14px 18px;
    border: 1px solid transparent;
    float: right;
}


